
# Archivo: docker-compose.yml
services:
  # Servicio del Backend de Java
  backend:
    container_name: pos_backend
    build:
      context: ./backend # Le dice a Compose que construya la imagen desde la carpeta ./backend
    restart: unless-stopped
    env_file:
      - ./.env # Pasa las variables de entorno a la aplicación Spring Boot
    ports:
      - "8084:8080"
    networks:
      - pos-network

  # Servicio del Frontend de React/Nginx
  frontend:
    container_name: pos_frontend
    environment:
      - VITE_API_URL=http://100.101.201.102:8084 # URL del backend para el frontend desde el navegador
    build:
      context: ./frontend
    restart: unless-stopped
    ports:
      - "5173:80" # Mapea el puerto 80 del contenedor al 5173 de tu máquina
    depends_on:
      - backend # Se asegura de que el backend se inicie antes que el frontend
    networks:
      - pos-network

  # Servicio de Machine Learning
  ml-prediction:
    container_name: pos_ml_prediction_api
    build:
      context: ./ml-prediction-service
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      # Variables específicas del servicio ML
      - PYTHONPATH=/home/app
      - PYTHONUNBUFFERED=1
    ports:
      - "8004:8000"  # Cambiado a 8002 para evitar conflicto
    volumes:
      # Persistir modelos entrenados
      - ./ml-prediction-service/models:/home/app/models
    depends_on:
      - backend
    networks:
      - pos-network

networks:
  pos-network:
    driver: bridge
